---
layout: default
---

{% assign data = site.data.data %}
{% if site.open %}
<div class="wrapper">
    {% include basic.html%}
    {% include profile.html %}
    {% include experiences.html %}
    {% include projects.html %}
    {% include skills.html %}
    {% include education.html %}
    {% include certificates.html %}
    {% include publications.html %}
    {% include patents.html %}
    {% include language.html %}
    {% include interests.html %}
    {% include evaluation.html %}
</div>
{% include footer.html %}
{% else %}
{% include close.html %}
{% endif %}
