{%- assign basic = data.basic %}
{%- if basic %}
<section class="basic">
  {%- if basic.avatar.show and basic.avatar.path %}
  <img class="avatar" src="{{ basic.avatar.path | relative_url }}" alt="avatar">
  {%- endif %}

  <div class="header" {% if basic.avatar.show != true %}style="align-items: center;"{% endif %}>
    {%- if basic.name %}
    <h2 class="name">{{ basic.name }}</h2>
    {%- if basic.title %}
    <h3 class="title">{{ basic.title }}</h3>
    {%- endif %}
    {%- endif %}
    {%- include contact.html %}
  </div>
</section>
{%- endif %}
