{% assign certificates = data.certificates %}
{% if certificates and certificates.display %}
<section class="certificates">
    <div class="section-title">
        {{ certificates.title }}
    </div>

    <div class="section-content">
        <div class="row">
            {% for certificate in certificates.items %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="item">

                    <div class="upper-row">
                        {% if certificate.link %}
                        <div class="certificate"><a href="{{ certificate.link }}">{{ certificate.name }}</a></div>
                        {% else %}
                        <div class="certificate">{{ certificate.name }}</div>
                        {% endif %}
                    </div>

                    <div class="upper-row">
                        <div class="authority">{{ certificate.authority }}</div>
                        <div class="time">{{ certificate.time }}</div>
                    </div>

                    {% if certificate.details %}
                    <div class="details">
                        <div class="markdown">
                            {{ certificate.details | markdownify }}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
