{%- assign education = data.education %}
{%- if education and education.show %}
<section class="education" style="order: {{ education.order | default: 1 }}">
  <div class="section-title">
    <i class="section-icon fa-solid fa-user-graduate"></i>
    <h2>{{ education.title }}</h2>
  </div>

  <div class="section-content">
    {%- if education.description.size > 0 %}
    <div class="description markdown">
      {{ education.description | markdownify }}
    </div>
    {%- endif %}

    {%- if education.items %}
    <div class="items">
      {%- for item in education.items %}
      <div class="item">

        {%- if item.institution %}
        <div class="row">
          <div class="institution">
            {%- if item.link %}
            <a href="{{ item.link }}" target="_blank">{{ item.institution }}</a>
            {%- else %}
            <span>{{ item.institution }}</span>
            {%- endif %}
          </div>
          <div class="date">
            <span>{{ item.date }}</span>
          </div>
        </div>

        <div class="row">
          <div class="major">
            <span>{{ item.major }}</span>
          </div>
          {%- if item.degree %}
          <div class="degree">
            <i class="fa-solid fa-graduation-cap"></i>
            <span>{{ item.degree }}</span>
          </div>
          {%- endif %}
        </div>

        {%- if item.description.size > 0 %}
        <div class="description markdown">
          {{ item.description | markdownify }}
        </div>
        {%- endif %}
        {%- endif %}

      </div>
      {%- endfor %}
    </div>
    {%- endif %}
  </div>
</section>
{%- endif %}
