<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{% if site.open %}{% if site.description %}{{ site.description }}{% else %}{{ site.title }}{% endif %}{% else %}Online Resume{% endif %}">

{%- if site.open and site.open_graph.enable %}
<meta property="og:title" content="{{ site.title }}">
<meta property="og:type" content="profile">
{%- assign start = site.open_graph.image | slice: 0 %}
{%- if start != '/' %}
<meta property="og:image" content="{{ site.open_graph.image }}">
{%- else %}
<meta property="og:image" content="{{ site.open_graph.image | absolute_url }}">
{%- endif %}
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
{%- if site.description %}
<meta property="og:description" content="{{ site.description }}">
{%- endif %}
{%- endif %}

{%- if site.open %}
<title>{{ site.title }}</title>
{%- else %}
<title>Online Resume</title>
{%- endif %}

<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/fontawesome/css/fontawesome.min.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/fontawesome/css/brands.min.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/fontawesome/css/solid.min.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/icons/css/all.css" | relative_url }}">

{%- if site.analytics.google %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.analytics.google }}');
</script>
{%- endif %}

{%- if site.analytics.cloudflare %}
<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js'
  data-cf-beacon='{"token": "{{ site.analytics.cloudflare }}"}'></script>
<!-- End Cloudflare Web Analytics -->
{%- endif %}

{% assign umami = site.analytics.umami %}
{%- if umami.script and umami.website_id %}
<!-- Umami Web Analytics -->
<script async defer src="{{ umami.script }}"
  data-website-id="{{ umami.website_id }}"
  {% if umami.domains %} data-domains="{{ umami.domains }}" {% endif %}></script>
<!-- End Umami Web Analytics -->
{%- endif %}
