{% assign interests = data.interests %}
{% if interests and interests.display %}
<section class="interests">
    <div class="section-title">
        {{ interests.title }}
    </div>

    <div class="section-content">
        <ul class="list-unstyled">
            {% for interest in interests.items %}

            {% if interest.link %}
            <li><a href="{{ interest.link }}" target="_blank">{{ interest.item }}</a></li>
            {% else %}
            <li>{{ interest.item }}</li>
            {% endif %}

            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}
