{% assign languages = data.languages %}
{% if languages and languages.display %}
<section class="languages">
    <div class="section-title">
        {{ languages.title }}
    </div>

    <div class="section-content">
        <ul class="list-unstyled">
            {% for language in languages.items %}
            <li>
                {{ language.idiom }}
                {% if language.level %}
                <small>[{{ language.level }}]</small>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}
