{% assign projects = data.projects %}
{% if projects and projects.display %}
<section class="section projects-section">

    <div class="section-title">
        {{ projects.title }}
    </div>

    {% if projects.intro %}
    <div class="intro">
        <p>{{ projects.intro | markdownify }}</p>
    </div>
    {% endif %}

    {% for project in projects.items %}
    <div class="item">
        {% if project.name %}
        <p class="project-name">
            {% if project.link %}
            <a href="{{ project.link }}" target="_blank">{{ project.name }}</a>
            {% else %}
            {{ project.name }}
            {% endif %}
        </p>

        {% if project.details %}
        <div class="details">
            {{ project.details | markdownify }}
        </div>
        {% endif %}
        {% endif %}
    </div>
    {% endfor %}

</section>
{% endif %}
