{%- assign reference = data.reference %}
{%- if reference and reference.show %}
<section class="reference" style="order: {{ reference.order | default: 1 }}">
  <div class="section-title">
    <i class="section-icon fa-solid fa-circle-nodes"></i>
    <h2>{{ reference.title }}</h2>
  </div>

  <div class="section-content">
    {%- if reference.description.size > 0 %}
    <div class="description markdown">
      {{ reference.description | markdownify }}
    </div>
    {%- endif %}

    {%- if reference.items %}
    <div class="items">
      {%- for item in reference.items %}
      <div class="item">

        {%- if item.name %}
        <div class="reference-name">
          {%- if item.link %}
          <a href="{{ item.link }}" target="_blank">{{ item.name }}</a>
          {%- else %}
          <span>{{ item.name }}</span>
          {%- endif %}
        </div>
        {%- if item.title %}
        <div class="reference-title">
          <span>{{ item.title }}</span>
        </div>
        {%- endif %}
        {%- if item.institution %}
        <div class="reference-institution">
          <span>{{ item.institution }}</span>
        </div>
        {%- endif %}
        {%- if item.address %}
        <div class="reference-address">
          <span>{{ item.address }}</span>
        </div>
        {%- endif %}
        {%- if item.email %}
        <div class="reference-email">
          <a href="mailto:{{ item.email }}">{{ item.email }}</a>
        </div>
        {%- endif %}
        {%- if item.phone %}
        <div class="reference-phone">
          <a href="tel:{{ item.phone }}">{{ item.phone }}</a>
        </div>
        {%- endif %}
        {%- if item.description %}
        <div class="description markdown">
          {{ item.description | markdownify }}
        </div>
        {%- endif %}
        {%- endif %}

      </div>
      {%- endfor %}
    </div>
    {%- endif %}
  </div>
</section>
{%- endif %}
