/* ======= Base ======= */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background: $background-color;
    padding: $spacing-unit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: $theme-color;

    &:hover {
        text-decoration: none;
        color: darken($theme-color, 10%);
    }

    &:focus {
        text-decoration: none;
    }
}

p {
    line-height: $base-line-height;
    margin-bottom: $spacing-unit / 4;
}

.wrapper {
    background: $wrapper-color;
    max-width: $content-width;
    margin: 0 auto;
    position: relative;
    @include box-shadow(0px 2px 4px rgba(0,0,0,0.1));
    padding: $spacing-unit * 2;

    .section-title {
        text-transform: uppercase;
        font-size: $large-font-size;
        font-weight: 500;
        color: $theme-color;
        position: relative;
        margin-top: 0;
        margin-bottom: $spacing-unit / 2;
        border-bottom: 1px dashed rgba($theme-color, 25%);
    }

    .section {
        margin-bottom: $spacing-unit / 4;
    }

    .name {
        font-size: $huge-font-size;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: $spacing-unit / 4;
    }

    .title {
        color: $text-color-secondary;
        font-size: $middle-font-size;
        font-weight: $base-font-weight;
        margin-top: 0;
        margin-bottom: $spacing-unit / 4;
    }

    .contact-list {
        margin-bottom: $spacing-unit / 4;

        li {
            display: inline;
            white-space: nowrap;

            &:not(:last-child)::after {
                content: "|";
                margin: 0 .25em;
            }
        }
    }

    .avatar {
        float: right;
        max-width: 100px;
        margin-bottom: $spacing-unit;
        border: 0px solid $wrapper-color;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    // .item {
    //     padding-bottom: $spacing-unit / 4;
    // }

    .upper-row {
        position: relative;
        overflow: hidden;
        margin-bottom: 2px;
    }

    .time, .degree, .location {
        position: absolute;
        right: 0;
        top: 0;
        color: $text-grey;
    }

    .role, .major {
        font-style: italic;
    }

    .company, .university, .project-name, .pub-title {
        font-weight: 700;
    }

    .intro, .details {
        ul {
            margin-bottom: $spacing-unit / 4;
            padding-left: $spacing-unit;
        }
    }

    .languages-list, .interests-list {
        margin-bottom: $spacing-unit / 4;

        li {
            display: inline;
            white-space: nowrap;

            &:not(:last-child)::after {
                content: "/";
                margin: 0 .25em;
            }
        }
    }

    .pub-title, .project-name {
        color: $text-color;
        margin-bottom: 1px;
    }

    .pub-authors {
        font-style: italic;
        margin-bottom: 1px;
    }
}

.footer {
    padding-top: $spacing-unit / 2;

    .copyright {
        color: $text-color-secondary;
    }

    .fa-heart {
        color: $heart;
    }
}
