/* ======= Base ======= */
body {
    font-family: 'Roboto', sans-serif;
    color: $text-color-secondary;
    background: $smoky-white;
    font-size: 14px;
    padding: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6  {
    font-weight: 700;
}

a {
    color: darken($theme-color, 15%);
    &:hover {
        text-decoration: underline;
        color: darken($theme-color, 30%);
    }
    &:focus {
        text-decoration: none;
    }
}

p {
    line-height: 1.5;
}

.wrapper {
    background: #fff;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    @include box-shadow(0px 2px 4px rgba(0,0,0,0.1));
    padding: 20px;
    
    .section-title {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
        color: darken($theme-color, 15%);
        position: relative;
        margin-top: 0;
        margin-bottom: 10px;
        border-bottom: 2px dashed rgba(darken($theme-color, 15%), 25%);
    }

    .section {
        margin-bottom: 10px;
    }

    .name {
        font-size: 32px;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .title {
        color: $text-grey;
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .contact-list {
        li {
            display: inline;
            white-space: nowrap;
        }

        li:not(:last-child)::after {
            content: "|";
            margin: 0 .25em;
        }
    }

    .avatar {
        float: right;
        max-width: 100px;
        margin-bottom: 15px;
        border: 0px solid #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    .item {
        padding-bottom: 5px;

        .details {
            padding: 0px 10px;
        }
    }

    .upper-row {
        position: relative;
        overflow: hidden;
        margin-bottom: 2px;
    }

    .time, .degree, .location {
        position: absolute;
        right: 0;
        top: 0;
        color: $text-grey;
    }

    .role, .major {
        font-style: italic;
    }

    .company, .university {
        font-weight: 700;
    }

    .intro, .details {
        ul {
            padding-left: 20px;
        }
    }

    .languages-list, .interests-list {
        li {
            display: inline;
        }

        li:not(:last-child)::after {
            content: "/";
            margin: 0 .25em;
        }
    }

    .lang-level {
        color: $text-grey;
    }

    .pub-title {
        font-weight: 400;
        color: $text-color;
        margin-bottom: 1px;
    }

    .pub-authors {
        font-style: italic;
        color: $text-grey;
        margin-bottom: 1px;
    }
}

.footer {
    padding-top: 10px;

    .copyright {
        line-height: 1.6;
        color: $text-color-secondary;
        font-size: 13px;
    }

    .fa-heart {
        color: $heart;
    }
}
