html {
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

a {
  color: $text-color;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

p {
  line-height: $base-line-height;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

ol, ul {
  padding-left: 2rem;
  margin-top: 0;
  margin-bottom: 0.25rem;

  ol, ul {
    margin-bottom: 0;
  }
}

b, strong {
  font-weight: $base-font-weight * 1.50;
}

small {
  font-weight: $base-font-weight;
}

.wrapper {
  display: flex;
  flex-direction: column;

  background: $wrapper-color;
  max-width: $content-width;
  margin: $spacing-unit auto;
  padding: $spacing-unit * 2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  section {
    &:not(:last-child) {
      margin-bottom: $spacing-unit / 2;
    }

    .section-title {
      display: flex;
      align-items: baseline;

      font-size: $large-font-size;
      color: $theme-color;
      margin-bottom: $spacing-unit / 2;
      padding: $spacing-unit / 10 0;
      border-bottom-color: rgba($theme-color, 0.25);
      border-bottom-width: 1px;

      i::after {
        content: "\00a0";
        font-family: initial;
      }

      h2 {
        font-size: inherit;
        margin-bottom: 0;
      }
    }

    .section-content {
      .description {
        margin-bottom: $spacing-unit / 2;
      }

      .items {
        .item {
          margin-bottom: $spacing-unit / 2;

          .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          .description {
            margin-bottom: 0;
          }
        }
      }

      .groups {
        margin-bottom: $spacing-unit / 2;
      }

      .location,
      .degree {
        display: inline-flex;
        align-items: baseline;

        i::after {
          content: "\00a0";
          font-family: initial;
        }
      }

      .company,
      .project-name {
        display: inline-flex;
        align-items: baseline;

        small::before {
          content: "\00a0";
          font-family: initial;
        }
      }

      .company,
      .project-name,
      .institution,
      .certificate-name,
      .publication-title,
      .award-name,
      .reference-name {
        font-weight: $base-font-weight * 1.50;
      }

      .role,
      .major,
      .issuer,
      .authors,
      .awarder,
      .reference-title {
        font-style: italic;
      }

      .date,
      .location,
      .degree {
        color: $text-third-color;
      }
    }
  }

  .basic {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .avatar {
      max-height: 100px;
      border: 0px solid $wrapper-color;
      // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    .header {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;

      .name {
        font-size: $huge-font-size;
        margin-top: 0;
        margin-bottom: $spacing-unit / 4;
      }

      .title {
        color: $text-second-color;
        font-size: $middle-font-size;
        font-weight: $base-font-weight;
        margin-top: 0;
        margin-bottom: $spacing-unit / 4;
      }

      .contact {
        display: flex;
        flex-wrap: wrap;

        .contact-item {
          display: inline-flex;
          align-items: baseline;

          &:not(:last-child)::after {
            content: $contact-delimiter;
            color: $text-third-color;
            margin: 0 0.5em;
          }

          i::after {
            content: "\00a0";
            font-family: initial;
          }
        }
      }
    }
  }

  .certificate,
  .award,
  .reference {
    .section-content {
      .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item {
          flex-basis: 45%;
        }
      }
    }
  }

  .skill {
    .section-content {
      .items {
        display: flex;
        flex-wrap: wrap;

        .item {
          display: inline-flex;
          align-items: center;
          justify-content: end;
          flex-basis: 30%;

          .skill-name::after {
            content: "\00a0\00a0";
            font-family: initial;
          }

          .skill-level {
            display: inline-flex;
            color: $text-third-color;

            i:not(:last-child)::after {
              content: "\00a0";
              font-family: initial;
            }
          }
        }
      }

      .groups {
        display: flex;
        flex-direction: column;

        .group {
          display: flex;
          justify-content: space-between;

          &:not(:last-child) {
            border-bottom: 1px dashed rgba($text-third-color, 0.25);
          }

          .group-name {
            font-weight: $base-font-weight * 1.50;
            flex: 0 0 auto;
          }

          .group-item {
            display: flex;
            flex-wrap: wrap;
            justify-content: end;
            flex: 1;

            span:not(:last-child)::after {
              content: "/";
              color: $text-third-color;
              margin: 0 0.5em;
            }
          }
        }
      }
    }
  }

  .language,
  .interest {
    .section-content {
      .items {
        display: flex;
        flex-wrap: wrap;

        .item {
          display: flex;
          align-items: baseline;

          &:not(:last-child)::after {
            content: "/";
            color: $text-third-color;
            margin: 0 0.5em;
          }

          small::before {
            content: "\00a0";
            font-family: initial;
          }
        }
      }
    }
  }
}

.footer {
  margin-bottom: $spacing-unit;
  color: $text-second-color;
  width: 100%;
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  font-size: $small-font-size;

  i {
    color: $heart-color;
    padding: 0 $spacing-unit / 4;
  }
}

.close {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .description {
    margin: $spacing-unit 0;
  }
}
