// Define defaults for each variable.
$base-font-family: "Roboto", sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;

$small-font-size:  $base-font-size * 0.875 !default; // 14px
$middle-font-size: $base-font-size * 1.125 !default; // 18px
$large-font-size:  $base-font-size * 1.25  !default; // 20px
$huge-font-size:   $base-font-size * 2     !default; // 32px

$base-line-height: 1.5 !default;

$spacing-unit:     20px !default;

// Width of the content area
$content-width:    1000px !default;

// Default color settings
$text-color:            #333333;
$text-color-secondary:  #3F4650;
$text-grey:             #97AAC3;
$background-color:      #f5f5f5;
$wrapper-color:         #ffffff;
$heart:                 #fb866a;

@import
    "mixins",
    "base",
    "responsive",
    "print"
;
