@media print
   {
    @page {
        size: A4;
    }
    body {
        padding: 0px;
    }

    a:after{
        content: "" !important;
    }
    
    .wrapper {
        .avatar {
            max-width: 100px !important;
        }
    }

    footer {
        display: none;
    }
}